{% extends 'base.html.twig' %}

{% block title %}Retour{% endblock %}

{% block body %}
    <div class="w-11/12  mx-auto">

        <section class="my-3 border border-gray-300 shadow-lg p-3">
            <h2 class="mb-3 text-xl font-semibold">Liste des Déplacements Retours</h2>
            <table class="min-w-full">
                <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 lg:px-6 text-left">Id</th>
                    <th class="py-3 lg:px-6 text-left">Nom</th>
                    <th class="py-3 lg:px-6 text-left">Type</th>
                    <th class="py-3 lg:px-6 text-left">Utilisateur</th>
                    <th class="py-3 lg:px-6 text-center">Filiere</th>
                    <th class="py-3 lg:px-6 text-center">Date</th>
                    <th class="py-3 lg:px-6 text-center">Statut</th>
                        <th class="py-3 lg:px-6 text-center">Action</th>
                </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light">
                {% for deplacement in deplacements %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 lg:px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span class="font-medium">{{ deplacement.id }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span class="font-medium">{{ deplacement.document.nom }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span class="font-medium">{{ deplacement.document.type.nom }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span class="font-medium">{{ deplacement.personne.nom }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-6 text-left">
                            <div class="flex items-center">
                                <span>{{ deplacement.personne.filiere.nom }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-6 text-center">
                            <span>{{ deplacement.dateSortie | date('d M Y') }}</span>
                        </td>
                        <td class="py-3 px-6 text-center">
                            {% if (deplacement.confirmationSortie == 1 and deplacement.demandeRetour == 1) %}

                                <span id="message{{ loop.index }}" class="bg-yellow-200 text-yellow-600 py-1 px-3 rounded-full text-xs">En attente</span>
                            {% elseif (deplacement.confirmationSortie == 1 and deplacement.demandeRetour == 0) %}
                                <span id="message{{ loop.index }}" class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs">Rendre</span>

                            {% endif %}
                        </td>
                        <td>
                            <div class="flex justify-center">
                                {% if (  is_granted('ROLE_USER') == true and is_granted('ROLE_ADMIN') == false ) %}
                                    {% if (deplacement.confirmationSortie == 1 and deplacement.demandeRetour == 1 and deplacement.personne == app.user) %}
                                        <div class="">
                                            <label for="toogleb{{ loop.index }}" class="flex items-center cursor-pointer" >
                                                <!-- toggle -->
                                                <div class="relative">
                                                    <span class="hidden">{{ deplacement.id }}</span>
                                                    <!-- input -->
                                                    <input id="toogleb{{ loop.index }}" type="checkbox" value="1" class="demande sr-only" />
                                                    <!-- line -->
                                                    <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                                                    <!-- dot -->
                                                    <div class="bash dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                                                </div>
                                            </label>
                                        </div>
                                    {% elseif (deplacement.confirmationSortie == 1 and deplacement.demandeRetour == 0) and deplacement.personne == app.user %}
                                        <div class="">
                                            <label for="toogleb{{ loop.index }}" class="flex items-center cursor-pointer">
                                                <!-- toggle -->
                                                <div class="relative">
                                                    <span class="hidden">{{ deplacement.id }}</span>
                                                    <!-- input -->
                                                    <input id="toogleb{{ loop.index }}" type="checkbox" value="1" class="demande sr-only" />
                                                    <!-- line -->
                                                    <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                                                    <!-- dot -->
                                                    <div class="lol dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                                                </div>
                                            </label>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if (deplacement.confirmationSortie == 1 and deplacement.demandeRetour == 1) %}
                                        <div class="mx-2">
                                            <label for="toogleA{{ loop.index }}"  class="flex items-center cursor-pointer"  >
                                                <!-- toggle -->
                                                <div class="relative">
                                                    <span class="hidden">{{ deplacement.id }}</span>
                                                    <!-- input -->
                                                    <input id="toogleA{{ loop.index }}" type="checkbox" value="1" class="retour sr-only" />
                                                    <!-- line -->
                                                    <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                                                    <!-- dot -->
                                                    <div class="lol dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                                                </div>
                                            </label>
                                        </div>
                                    {% elseif (deplacement.confirmationSortie == 1 and deplacement.demandeRetour == 0) %}
                                        <p>En attente de remise</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}