{% extends 'base.html.twig' %}

{% block title %}daplacement{% endblock %}

{% block body %}
    <div class="w-11/12  mx-auto">

        <section class="my-3 border border-gray-300 shadow-lg p-3">
            <h2 class="mb-3 text-xl font-semibold">Liste des Deplacements Sortants</h2>
            <table class="min-w-full">
                <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3  text-left">Id</th>
                    <th class="py-3 lg:px-6 text-left">Document</th>
                    <th class="py-3 lg:px-6 text-left">Type</th>
                    <th class="py-3 lg:px-2 text-center">Quantité</th>
                    <th class="py-3 lg:px-6 text-left">Utilisateur</th>
                    <th class="py-3 lg:px-3 text-left">Filière</th>
                    <th class="py-3 lg:px-3 text-center">Date</th>
                    <th class="py-3 lg:px-6 text-center">Statut</th>
                    {% if is_granted('ROLE_ADMIN') %}<th class="py-3 lg:px-6 text-center">Action</th>{% endif %}
                </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light">
                {% for deplacement in deplacements %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td>
                            <span id="id" class="font-medium">{{ deplacement.id }}</span>
                        </td>
                        <td class="py-3 lg:px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span class="font-medium">{{ deplacement.document.nom }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span class="font-medium">{{ deplacement.document.type.nom }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-2 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span class="font-medium">{{ deplacement.quantite }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span class="font-medium">{{ deplacement.personne.nom }} {{ deplacement.personne.prenom }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-3 text-left">
                            <div class="flex items-center">
                                <span>{{ deplacement.personne.filiere.nom }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-3 text-center">
                            <span>{{ deplacement.dateSortie | date('d M Y') }}</span>
                        </td>
                        <td class="py-3 px-6 text-center">
                            {% if (deplacement.confirmationSortie) %}
                                <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Autorisé</span>

                                {% else %}
                                    <span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs">En attente</span>
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <div class="flex justify-center">
                                <label for="toogle{{ loop.index }}" class="flex items-center cursor-pointer"
                                >
                                    <!-- toggle -->
                                    <div class="relative">
                                        <!-- input -->
                                        <span class="hidden">{{ deplacement.id }}</span>
                                        <input id="toogle{{ loop.index }}" type="checkbox" value="1" class="sortie sr-only" />
                                        <!-- line -->
                                        <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
                                        <!-- dot -->
                                        <div class="{% if (deplacement.confirmationSortie) %} bash {% endif %}lol dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
                                    </div>
                                </label>

                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}