{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div class="w-11/12 lg:w-4/5 mx-auto">
    <section class="my-3">
        <div class="">
            <div class="grid grid-cols-3 gap-2 text-white ">
                <div class="flex flex-col h-20 p-2 bg-purple-500 hover:bg-purple-900 ">
                    <p>Document <i class="fas fa-wallet"></i></p>
                    <p class="mt-auto ml-auto"><span class="counter">{{ documents }}</span></p>
                </div>
                <div class="flex flex-co h-20 p-2 bg-red-500 hover:bg-red-700">
                    <p>Type <i class="fas fa-cog"></i></p>
                    <p class="mt-auto ml-auto"><span class="counter">{{ types }}</span></p>
                </div>
                <div class="flex flex-col h-20 p-2 bg-indigo-600 hover:bg-indigo-900">
                    <p>Utilisateur <i class="fas fa-users-cog"></i></p>
                    <p class="mt-auto ml-auto"><span class="counter" >{{ users }}</span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="my-3">
        <div class="">
            <div class="grid grid-cols-3 gap-2 text-white ">
                <div class="flex flex-col h-20 p-2 bg-green-500 hover:bg-green-800 ">
                    <p>Deplacement <i class="fas fas fa-arrows-alt-h"></i></p>
                    <p class="mt-auto ml-auto"><span class="counter">{{ deplacements }}</span></p>
                </div>
                <div class="flex flex-co h-20 p-2 bg-pink-600 hover:bg-pink-800 ">
                    <p>Sortie <i class="fas fa-arrow-right"></i></p>
                    <p class="mt-auto ml-auto"><span class="counter">{{ sorties }}</span></p>
                </div>
                <div class="flex flex-col h-20 p-2 bg-yellow-500 hover:bg-yellow-700">
                    <p>Retour <i class="fas fa-arrow-left"></i></p>
                    <p class="mt-auto ml-auto"><span class="counter" >{{ retours }}</span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="my-3 border border-gray-300 shadow-lg p-3">
        <h2 class="mb-3 text-xl font-semibold">Utilisateur Récemment Ajouté</h2>
        <table class="min-w-full">
            <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 lg:px-6 text-left">Nom</th>
                <th class="py-3 lg:px-6 text-left">Prenom</th>
                <th class="py-3 lg:px-6 text-center">Poste</th>
                <th class="py-3 lg:px-6 text-center">Filière</th>
            </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                {% for user in usersrecent %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 lg:px-6 text-left whitespace-nowrap">
                            <div class="flex items-center">
                                <span class="font-medium">{{ user.nom }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-6 text-left">
                            <div class="flex items-center">
                                <span>{{ user.prenom }}</span>
                            </div>
                        </td>
                        <td class="py-3 lg:px-6 text-center">
                            <span>{{ user.poste.nom }}</span>
                        </td>
                        <td class="py-3 px-6 text-center">
                            <span class="">{{ user.filiere.nom }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="my-3 border border-gray-300 shadow-lg p-3">
        <h2 class="mb-3 text-xl font-semibold">Nouveaux Document</h2>
        <table class="min-w-full">
            <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 lg:px-6 text-left">Nom</th>
                <th class="py-3 lg:px-6 text-left">Marque</th>
                <th class="py-3 lg:px-6 text-left">Type</th>
            </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
            {% for doc in documentsrecent %}
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 lg:px-6 text-left whitespace-nowrap">
                        <div class="flex items-center">
                            <span class="font-medium">{{ doc.nom }}</span>
                        </div>
                    </td>
                    <td class="py-3 lg:px-6 text-left">
                        <div class="flex items-center">
                            <span>{{ doc.marque }}</span>
                        </div>
                    </td>
                    <td class="py-3 lg:px-6 text-center">
                        <div class="flex items-center">
                            <span>{{ doc.type.nom }}</span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
