{% extends 'base.html.twig' %}

{% block title %} Profile{% endblock %}

{% block body %}
    <section class="">
        <div class="w-10/12 mx-auto">
            <h2 class="text-2xl font-medium">Profile</h2>
            <div class="grid grid-col-1 sm:grid-cols-2 gap-3">
                <ul class="p-4 shadow-md ">
                    <li>Nom : <span>{{ personne.nom }}</span></li>
                    <li>Prenom : <span>{{ personne.prenom }}</span></li>
                    <li>Sexe : <span>{{ personne.sexe.nom }}</span></li>
                    <li>Email : <span>{{ personne.email }}</span></li>
                    <li>Password : <span>{{ personne.password }}</span></li>
                    <li>Téléphone : <span>{{ personne.telephone }}</span></li>
                </ul>
                <ul class="p-4 shadow-md">
                    <li>Poste : <span>{{ personne.poste.nom }}</span></li>
                    <li>Filière : <span>{{ personne.filiere.nom }}</span></li>
                    <li></li>
                </ul>
            </div>
            <div class="overflow-x-scroll">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="w-full  table-auto">
                        <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                            <th class="py-3 px-2 text-left">Document</th>
                            <th class="py-3 px-2 text-left">Type</th>
                            <th class="py-3 px-2 text-center">Date Demande</th>
                            <th class="py-3 px-2 text-center">Date Retour</th>
                            <th class="py-3 px-2 text-center">Statut</th>
                        </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            {% for deplacement in personne.deplacements %}
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    <td class="py-3 px-2 text-left whitespace-nowrap">
                                        <div class="flex items-center">
                                            <span class="font-medium">{{ deplacement.document.nom }}</span>
                                        </div>
                                    </td>
                                    <td class="py-3 px-2 text-left">
                                        <div class="flex items-center">
                                            <span>{{ deplacement.document.type.nom }}</span>
                                        </div>
                                    </td>
                                    <td class="py-3 px-2 text-center">
                                        <div class="flex items-center justify-center">
                                            <span>{{ deplacement.dateSortie | date('d M Y') }}</span>
                                        </div>
                                    </td>
                                    <td class="py-3 px-2 text-center">
                                        {% if deplacement.confirmationRetour == true %}
                                            <span>{{ deplacement.dateRetour | date('d M Y')}}</span>
                                        {% endif %}
                                    </td>
                                    <td class="py-3 px-2 text-center">
                                        <div class="flex item-center justify-center">
                                            {% if deplacement.confirmationSortie == true and deplacement.confirmationRetour == false and deplacement.demandeRetour == false %}
                                            <span class="bg-indigo-200 text-indigo-600 py-1 px-3 rounded-full text-xs">Authorisé</span>
                                            {% elseif deplacement.confirmationSortie == true and deplacement.demandeRetour == true and deplacement.confirmationRetour == false %}
                                                <span class="bg-yellow-200 text-yellow-600 py-1 px-3 rounded-full text-xs">En attente</span>
                                                {% elseif deplacement.confirmationSortie == true and deplacement.demandeRetour == true and deplacement.confirmationRetour == true %}
                                                    <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Rendu</span>
                                                {% else %}
                                                    <span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs">Cas litigieux</span>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
